# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space

# 2 space indent
[{*.js,*.jsx,*.json,.jshint*,.jscsrc,.bower*}]
indent_size = 2

